<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huwang.mobilesafe20"
    android:versionCode="1"
    android:versionName="友情测试版8.1.1">
    <!-- 使用摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- gps 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 基站 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    //sd卡访问权限
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 接收短信的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- 读取短信权限 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--高级工具-->
        <activity
            android:name=".activity.ToolCollectionActivity"
            android:label="@string/app_name">

        </activity>
        <!--归属地查询-->
        <activity
            android:name=".activity.AddressQueryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.Setup1Activity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.Setup2Activity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.Setup3Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.Setup4Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.EndActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.SelectContactActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.SettingCenterActivity"
            android:label="@string/app_name" />
        <!--boot-->
        <receiver android:name=".receiver.BootCompleteReceiver">
            <!--android:permission="android.permission.RECEIVE_BOOT_COMPLETED">-->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.CommandReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!--Gps服务-->
        <service android:name=".service.GpsService"></service>
        <!--通信卫士服务-->
        <service android:name=".service.SmsCallProtectService"/>

        <activity
            android:name=".activity.TakePicActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.SmsCallActivity"
            android:label="@string/app_name">
        </activity>

        <receiver
            android:name=".receiver.MyAdminReceiver"
            android:description="@string/description_info"
            android:label="@string/label_info"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/my_device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>